.navbar{
      width: 100%;
      height:50px;
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 999;
}
.navbar_wrapper{
      height: 100%;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.navbar_left{}
.navbar_right{
      display: flex;
      align-items: center;
}
.logo{
      font-weight: bold;
      font-style: 30px;
      color: darkblue;
      cursor: pointer;
}
.navbar_icons{
      position: relative;
      margin-right: 10px;
      cursor: pointer;
      color: #555;
}
.icon_badge{
      position: absolute;
      top: -5px;
      right: 0px;
      background-color: darkorange;
      color: white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
}
.navbar_img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      
}
